/************commons css ************/
a{text-decoration:none;/*color:#333;/*font-family: "Microsoft YaHei", "Arial", '宋体';*/}
a:hover{color:red;text-decoration:underline;}
input.txt{background-color: white;border: 1px solid #D9D9D9;border-top-color: #999;border-left-color: #999;height: 20px;line-height:20px;text-indent:5px;}
input.button{background: url(../images/title_bg.jpg) repeat-x 0px -1px;width:80px;height:22px;line-height:22px; border:1px solid #ccc;cursor: pointer;font-size:12px;}
.cred{color: red;}
.w10{width:10px;}
.w30{width:30px;}
.w50{width:50px;}
.w60{width:60px;}
.w80{width:80px;}
.w100{width:100px;}
.w140{width:140px;}
.w200{width:200px;}
.w250{width:250px;}
.w400{width:400px;}
.w450{width:450px;}
.w455{width:455px;}
.w460{width:460px;}
.w465{width:465px;}
.w470{width:470px;}
.w500{width:500px;}
.w650{width:600px;}
.w650{width:650px;}
.w660{width:660px;}
.w680{width:680px;}
.w700{width:700px;}
.w850{width:850px;}
.h10{height:10px;}
.h20{height:20px;}
.h25{height:25px;}
.lh10{line-height:10px;}
.lh12{line-height:12px;}
.lh20{line-height:20px;}
.lh25{line-height:25px;}
.lh30{line-height:30px;}
.clear{*zoom:1;}
.clear:after {content:'\20';display:block;height:0;clear:both;font-size:0;}
.bn{border:none;border:0;}
.m0{margin:0px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
/* h1,h2,h3,h4,h5,h6{font-size:100%;} */
em,i{font-style:normal;}
fieldset,img{border:0;}
ul,ol{list-style:none;}
a{text-decoration:none;outline:none;}
a:hover{color:#f60;text-decoration:underline;}
a.default{color:#3186c8 !important;text-decoration: underline !important;}
/* body{background: #f1f1f1;} */
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0;}
.hide{display:none;}
.l{float:left;}
.r{float:right;}
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
.ti10{text-indent:10px}
.db{display:block}
.dn{display:none}
.ipt-disabled{background-color:#f0f0f0;color: #ccc;}
.clear{*zoom:1;}
.clear:after {content:'\20';display:block;height:0;clear:both;font-size:0;margin: 0;padding: 0;}

.hr{margin:2px 0px;border:none;border-top:1px solid #2969a6;border-bottom:1px solid #488bcb;height:0;line-height: 0;content: \0;}
.hr-white{margin:10px 0px;border:none;border-top:1px solid #dfdfdf;border-bottom:1px solid #fbfbfb;height:0;line-height: 0;content:'\20'}

.error-hint{position:absolute;z-index:10000;border:1px solid #aaa;min-width:100px;padding:5px 12px 5px 5px;background:white;color: red;}
.error-hint-parent{position: relative;display:inline-block;}
/*-----箭头样式-----*/
.error-trigon {
    position: absolute;
    bottom: -7px;
    left: 10px;
    width: 14px;
    height: 7px;
    overflow: hidden;
    padding: 0px;
    background-color: transparent;
    z-index: 200;
}
.error-trigon span {
    width: 0px;
    height: 0px;
    line-height: 0px !important;
    padding: 0px;
}
.error-trigon .blo {
    position: absolute;
    left: 2px;
    top: 0px;
    border: 5px solid;
    border-color: #fff transparent transparent transparent;
    border-style: solid dashed dashed dashed;
}
.error-trigon .bor {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 7px solid;
    border-color: #aaa transparent transparent transparent;
    border-style: solid dashed dashed dashed;
}
.error-close{
	position:absolute;
	cursor:pointer;
	display:block;
	right:2px;
	top:2px;
	width:10px;
	height:10px;
	background: url("../images/errorhint_close.png") -16px -1px;
}
.error-close:hover{
    background-position: -2px -1px;
}
.arror-left .error-trigon{
	top: 3px;
    left: -7px;
    width: 7px;
    height: 14px;
}
.arror-left .error-trigon .bor{
	left:-7px;
    border-color: transparent #aaa transparent transparent;
    border-style: dashed solid dashed dashed;
}
.arror-left .error-trigon .blo{
	top: 2px;
    left: -3px;
    border-color: transparent #fff transparent transparent;
    border-style: dashed solid dashed dashed;
}
dl.split-icon-txt{}
dl.split-icon-txt dt{float:left;height:26px;line-height:26px;font-family: 'Microsoft YaHei', 'Arial', '宋体';padding:0px 10px;background: url("../images/msg_split.png") 0px 8px no-repeat; }
dl.split-icon-txt dt.first{background: none;}
dl.split-icon-txt a{color:#333;}
/* BUTTONS */
a.btn, button.btn, input.btn{
    display:inline-block;*display:inline; *zoom:1;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    /* border:1px solid #cdcdcd;
    border-top:1px solid #ddd;
    border-left:1px solid #ddd; */

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    /* padding:5px 10px 6px 7px; */ /* Links */
    padding:3px 10px 3px 7px;
}
button.btn, input.btn{
    width:auto;
    padding:3px 10px 3px 7px; /* Firefox */
    line-height:16px; /* Safari */
    overflow:visible;
    *padding:3px 10px 2px 7px; /* IE6 */
}
/* button.btn[type]{
    
} */
*:first-child+html button.btn[type]{padding:2px 10px 1px 7px; /* IE7 */}

button.btn i,a.btn i{margin:0 3px -3px 0 !important;display:inline-block;*display:inline; *zoom:1; padding:0;border:none;width:16px;height:16px;}

/* STANDARD */
button.btn:hover, a.btn:hover, input.btn:hover{background-color:#dff4ff;border:1px solid #c2e1ef;color:#336699;}
a.btn:active{background-color:#6299c5;border:1px solid #6299c5;color:#fff;}

/* POSITIVE */
button.positive, a.positive{color:#529214;}
a.positive:hover, button.positive:hover{background-color:#E6EFC2;border:1px solid #C6D880;color:#529214;}
a.positive:active{background-color:#529214;border:1px solid #529214;color:#fff;}

/* NEGATIVE */
a.negative, button.negative{color:#d12f19;}
a.negative:hover, button.negative:hover{background:#fbe3e4;border:1px solid #fbc2c4;color:#d12f19;}
a.negative:active{background-color:#d12f19;border:1px solid #d12f19;color:#fff;}

/* REGULAR */
button.regular, a.regular{color:#336699;}
a.regular:hover, button.regular:hover{background-color:#dff4ff;border:1px solid #c2e1ef;color:#336699;}
a.regular:active{background-color:#6299c5;border:1px solid #6299c5;color:#fff;}
